page-login {
    .margin-top {
        margin-top: 20px;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
    .valid {
        border: 1px solid #32db64;
    }
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .item-md.item-block .item-inner {
        padding-right : 0;
    }

    ion-input, ion-textarea {
        border-bottom: 1px solid #FFFFFF;
        padding: 5px 10px;
    }
}
