page-release {
    .d3 {
        display: inline-block;
        width: 50%;
    }
    
    // general styling goes here
    .outerspot {
        cursor: pointer;

        &:hover, &.hover{
            .smokebox {
                fill:lightgray;
                cursor: pointer;
            }
            .smokebig {
                display: block;
                fill: black;
                opacity: .4;
            }
            .smokeline {
                stroke-dasharray: 0;
                stroke-width: 3;
            }
            .player {
                fill:red;
                stroke: white;
                stroke-width: 1;
                cursor: pointer;
            }
      
        }

        .player {
            fill: blue;
        } 

        .smokebox {
            fill:gray;
            stroke: white;
            stroke-width: 2;
        }

        .smokeline {
            stroke-dasharray: 2;
            stroke-width: 2;
            stroke: white;
        }

        .nodisplay {
            display: none;
        }
    }
    // specific stylings for spots
    .spot, .awp {
        .player-view {
            opacity: .2;
            fill: lightblue;
            pointer-events: none;
        }
    }
    // specific stylings for smokes
    .smoke, .decoy {
        .player-view {
            display: none;
        }
    }
}
