<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="item row">
        <ion-title>{{spot.title}}</ion-title>
        <auth></auth>    
      </div>     
  </ion-navbar>
</ion-header>

<ion-content padding #container>
  <div>
      <map-overview #mapOverview *ngIf="isUnpublished()" [mapName]="spot.mapName" [strategyId]="spot.strategy" [spotId]="spot.id"></map-overview>      
  </div>

  <ion-fab bottom right>
    <button *ngIf="!isUnpublished()" ion-fab (click)="openSubmitPage()"><ion-icon name="add"></ion-icon></button>
    <button *ngIf="isUnpublished()" ion-fab (click)="rejectSpot()"><ion-icon name="close"></ion-icon></button>
    <button *ngIf="isUnpublished()" ion-fab (click)="acceptSpot()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
  <ion-list no-lines>
    <ion-label color="primary">Created By</ion-label>
    <button ion-button color="dark" clear (click)="userPressed(spot)">{{spot.displayName}}</button>
    <ion-label color="primary">Useful?</ion-label>
    <div>
      <div class="floatLeft">
        <h4>{{ (afRatingRef | async)?.$value }}</h4>
      </div>
      <div class="paddingLeft">
        <button ion-button [color]="'secondary'" icon-only (click)="vote(true)">
          <ion-icon name='thumbs-up'></ion-icon>
        </button>
        <button ion-button [color]="'danger'" icon-only (click)="vote(false)">
          <ion-icon name='thumbs-down'></ion-icon>
        </button>
      </div>
    </div>
    <div *ngIf="isSpot()">
      <ion-label color="primary">Screenshots</ion-label>
      <img width="100%" class="screenshot" src="{{spot.picture_1}}" />
      <img width="100%" class="screenshot" src="{{spot.picture_2}}" />
      <img width="100%" class="screenshot" src="{{spot.picture_3}}" />
    </div>
   <div *ngIf="isGrenade()">
      <ion-label color="primary">Video</ion-label>
      <youtube-player [start]="spot.startSeconds" [end]="spot.endSeconds" [vid]="spot.videoId" [width]="'100%'"></youtube-player>
   </div>
  </ion-list>
</ion-content>