<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{spot.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #container>
  <ion-list no-lines>

    <h4>{{spot.title}}</h4>
    <ion-label color="primary">Votes</ion-label>
    <div>
      <div class="floatLeft">
        <h4>{{ (item | async)?.value }}</h4>
      </div>
      <div class="paddingLeft">
        <button ion-button color="secondary" icon-only (click)="countUp()">
          <ion-icon name='thumbs-up'></ion-icon>
        </button>
        <button ion-button color="danger" icon-only (click)="countDown()">
          <ion-icon name='thumbs-down'></ion-icon>
        </button>
      </div>
    </div>
    <ion-label color="primary">Pros &amp; Cons</ion-label>
    <ion-item>
      <div class="pros-box">
        <ul>
          <li *ngFor="let pro of spot.pros">
            <p>{{pro}}</p>
          </li>
        </ul>
      </div>
      <div class="cons-box">
        <ul>
          <li *ngFor="let con of spot.cons">
            <p>{{con}}</p>
          </li>
        </ul>
      </div>
    </ion-item>
    <ion-label color="primary">Screens</ion-label>
    <div *ngIf="!(spot.vidUrl)">
      <ion-img width="100%" height="{{height}}" *ngFor="let img of spot.pictures" class="screenshot" src="http://csgospots.square7.ch/images/{{img}}"> </ion-img>
    </div>
    <div *ngIf="spot.vidUrl" style="position:relative;padding-bottom:57%">
      <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(spot.vidUrl)' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
    </div>
  </ion-list>
</ion-content>