page-strategy-detail {
    h4 {
        padding: 10px 0 10px 0;
    }
    .pros-box {
        width:50%; 
        display:inline-block;
        background: lightgreen;
    }
    .cons-box {
        width:50%;
        display:inline-block;
        background: lightcoral;
    }
}
