page-home {
    .card-background-page {

  ion-card {
    position: relative;
    float: left;
    text-align: center;
    margin: 10px 0 0 10px;
    width: calc(30% - 20px);
  }

  ion-card:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
  }

  .card-content {
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 1px 21px rgba(0, 0, 0, 1);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-shadow: 2px 1px 21px rgba(0, 0, 0, 1);
  }

}
}
