<ion-split-pane>
<ion-menu [content]="content">

    <ion-header>
      <ion-toolbar>
        <a href="/#/" class="toolbar-title-md" style="cursor:pointer;text-decoration: none;">PUBG Fluff</a>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

        <ion-searchbar #searchBar (ionInput)="search($event)"></ion-searchbar>

        <ion-list no-border>   
            <ion-list-header>
              Defusal Maps
            </ion-list-header>
            <button ion-item *ngFor="let map of de_maps" (click)="openPage(map)">
            {{map.mapname}}
              <ion-badge item-end>{{map.amount}}</ion-badge>
            </button>
            <ion-list-header>
            Hostage Maps
            </ion-list-header>
            <button ion-item *ngFor="let map of cs_maps" (click)="openPage(map)">
            {{map.mapname}}
              <ion-badge item-end>{{map.amount}}</ion-badge>
            </button>
        </ion-list>
        <ion-footer>
            <ion-toolbar>
                <a href="/#/impressum" style="cursor:pointer;text-decoration: none;color: #757575;padding-top:9px;padding-left:20px;">Impressum</a>
            </ion-toolbar>
          </ion-footer>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content main></ion-nav>
</ion-split-pane>