page-map-overview {

    .outerspot {
        cursor: pointer;

        &:hover {
            .smoke, .smokeline {
                fill:lightgray;
                cursor: pointer;
            }
            .player {
                fill:red;
                stroke: white;
                stroke-width: 1;
                cursor: pointer;
            }
            .turn-indicator {
                stroke: darkred;
            }
        }

        .turn-indicator {
            fill: transparent;
            stroke-width:1;
            stroke:darkslateblue;
            pointer-events: none;
        }
        .player {
            fill: blue;
        }
        .player-view {
            opacity: .2;
            fill: lightblue;
            pointer-events: none;
        }

        .smoke, .smokeline {
            fill:gray;
            stroke: white;
            stroke-width: 2;
        }

        .nodisplay {
            display:none;
        }
    }
    
}
