<!--
  Generated template for the MapOverview page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div class="item row">
        <ion-title>Find {{strategyId}} on {{mapName}}</ion-title>
        <auth></auth>    
      </div>     
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page">
  <ion-fab bottom right>
    <button ion-fab (click)="openSubmitPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
<!--  <div class="mobile">
    <ion-list >
      <button ion-item *ngFor="let spot of strategy.spots" (click)="openPage(spot)" >
        {{ spot.title }}
      </button>  
    </ion-list>    
  </div>-->

  <div><!-- class="desktop">-->
    <div class="desktop toplist">
      <ion-card class="card" *ngFor="let item of votings" (click)="openPage(item)" (mouseenter)='onMouseEnterCard(item)' (mouseleave)='onMouseLeaveCard(item)'>
        <div class="card-content">
          <img class="picture" src="/assets/img/csgo_smoke_small.png"/>
          <div class="card-title">{{item.value}}</div>
          <ion-icon [color]="'secondary'" class="card-subtitle" name='thumbs-up'></ion-icon>
        </div>
      </ion-card>
    </div>
    <map-overview page="mapOverview" #mapOverview [mapName]="mapName" [strategyId]="strategyId" (press)="logPress($event)" (spotPress)="openPage($event)"></map-overview>
  </div>

</ion-content>