page-map-overview {

    .toplist {
        display: inline-block;
        width: 100px;
        float:left;
    }

    .d3 {
        display: inline-block;
        width: 50%;
    }

    .outerspot {
        cursor: pointer;

        &:hover {
            .smoke {
                fill:lightgray;
                cursor: pointer;
            }
            .smokebig {
                display: block;
                fill: black;
                opacity: .4;
            }
            .smokeline {
                stroke-dasharray: 0;
                stroke-width: 3;
            }
            .player {
                fill:red;
                stroke: white;
                stroke-width: 1;
                cursor: pointer;
            }
      
        }

        .player {
            fill: blue;
        }
        .player-view {
            opacity: .2;
            fill: lightblue;
            pointer-events: none;
        }

        .smoke {
            fill:gray;
            stroke: white;
            stroke-width: 2;
        }

        .smokeline {
            stroke-dasharray: 2;
            stroke-width: 2;
            stroke: white;
        }

        .nodisplay {
            display:none;
        }
    }
    
}
