page-welcome {
    .paddingLeft {
        padding-left: 20px;
    }
    .searchbar-clear-icon.button-clear {
        left: 16px;
        right: auto;
    }
    .searchBar {
        margin-right: 15px;
        width: 250px;
        float: right;

        .searchbar-search-icon {
            right: 1px;
            left: auto;
        }

        //mobile only
        @media screen and (max-width: 950px) {
            width : 150px;
            margin-top: 4px;

            .searchbar-clear-icon.button-clear {
                left: 1px;
                right: auto;
            }
            .searchbar-input {
                padding: 6px 15px;
            }
        }
        .searchbar-input {
            background: $background-superdark;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        //android & pwa styling
        @media screen and (max-width: 950px) {
            &.searchbar-md {
                border-bottom: 1px solid lightgray;
                padding: 0 12px 0px 0;
            }
        }            
    }
    
    .wordWrap {
        white-space:pre-wrap;
    }

    .paddingBottomSmall {
        padding-bottom: 7px;
    }
    
    .urlStyle {
        color: #666;
        text-decoration: none;
        font-size: 1.4rem;
    }
}
