
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div >
      <auth float-right></auth>
      <ion-searchbar placeholder="" float-right class="searchBar" #searchBar (ionInput)="search($event)"></ion-searchbar>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>    
  <ion-fab bottom right>
    <button ion-fab (click)="openSubmitPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-title>Favorite Of The Week</ion-title>
  <blockquote class="reddit-card" data-card-created="1507671002">
    <a href="https://www.reddit.com/r/PUBATTLEGROUNDS/comments/75dw17/drdisrespect_vs_summit1g/?ref=share&ref_source=embed">
      DrDisRespect Vs Summit1G
    </a>
    from 
    <a href="http://www.reddit.com/r/PUBATTLEGROUNDS">PUBATTLEGROUNDS</a>
  </blockquote>

  <ion-title margin-top padding-top>Updates</ion-title>  
  <ion-list no-lines>
    <ion-item *ngFor="let patchnote of patchNotes">
      <ion-item>
        <h1 class="wordWrap">{{patchnote.title}}</h1>
        <ion-note item-end>
          {{patchnote.date}}
        </ion-note>
        <ion-avatar item-start>
          <img src="assets/icon/pubg.png">
        </ion-avatar>
      </ion-item>
      <div *ngFor="let article of (newsProvider.data | async).articles" class="paddingLeft">
<!--       <div *ngFor="let article of patchnote.articles" class="paddingLeft">
 -->        <h2 class="wordWrap">{{article.heading}}</h2>
        <h3 *ngIf="article.subtitle" class="wordWrap">{{article.subtitle}}</h3>            
        <ion-list no-lines>
          <ul> 
            <li class="paddingBottomSmall" *ngFor="let paragraph of article.paragraphs">
              <h3 class="wordWrap">{{paragraph.text}}</h3>
              <a [href]="paragraph.link" class="wordWrap urlStyle" *ngIf="paragraph.link">More Details</a>
            </li>
          </ul>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
