page-welcome {
    .paddingLeft {
        padding-left: 20px;
    }

    .wordWrap {
        white-space:pre-wrap;
    }

    .paddingBottomSmall {
        padding-bottom: 7px;
    }
    
    .urlStyle {
        color: #666;
        text-decoration: none;
        font-size: 1.4rem;
    }
}
