page-welcome {
    .paddingLeft {
        padding-left: 20px;
    }
    .searchbar-md .searchbar-search-icon {
        right: 16px;
        left: auto;
    }
    .searchbar-clear-icon.button.button-md.button-clear.button-clear-md {
        left: 16px;
        right: auto;
    }
    .searchBar {
        width: 250px;
    }
    .toolbar .searchbar-md {
        padding: 0 12px 5px 0;
    }
    .searchBar .searchbar-input {
        background:#f8f8f8;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .wordWrap {
        white-space:pre-wrap;
    }

    .paddingBottomSmall {
        padding-bottom: 7px;
    }
    
    .urlStyle {
        color: #666;
        text-decoration: none;
        font-size: 1.4rem;
    }
}
