<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="item row">
      <ion-title>{{category}}</ion-title>
      <auth></auth>    
    </div>        
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-segment padding [(ngModel)]="filter">
    <ion-segment-button value="date" (click)="newestClicked()">
      Newest
    </ion-segment-button>
    <ion-segment-button value="rating" (click)="highestClicked()">
      Highest
    </ion-segment-button>
  </ion-segment>

  <!-- <button ion-item *ngFor="let category of paginationProvider.data | async" >
      {{category.id}}
        <ion-badge item-end color="primary">{{category.amount}}</ion-badge>
      </button> -->

  <ion-grid fixed>
    <ion-row align-items-stretch>
      <ion-col *ngFor="let spot of spotProvider.data | async" col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 align-self-stretch align-self-center>
        <ion-card class="card" (click)="openSpot(spot.id)">
          <div class="card-content">
            <img class="picture" [src]="spot.thumbnailUrl"/>
            <div class="card-title">{{spot.title}}</div>
            <div class="card-subtitle">{{spot.rating}} upvotes</div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!noMoreSpots" style="text-align:center;">
    <button small ion-button icon-left (click)="doInfinite()" color="primary" round outline>
      <ion-icon name="arrow-down"></ion-icon>
      Load More
    </button>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- FAB -->
  <ion-fab bottom right>
    <button ion-fab (click)="openSubmitPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>