<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Submit new Spot</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-label>Please be aware that we check every spot personally before making it public. This will take some minutes.</ion-label>
  
  <form [formGroup]="spotHeadForm">
    <ion-item no-lines>
      <ion-label stacked required>Title</ion-label>
      <ion-input 
        type="text" 
        formControlName="title" 
        [class.invalid]="!spotHeadForm.controls.title.valid && (spotHeadForm.controls.title.dirty || submitAttempt)"
        [class.valid]="spotHeadForm.controls.title.valid">
      </ion-input>
    </ion-item>
    <ion-item 
      no-lines 
      *ngIf="!spotHeadForm.controls.title.valid  && (spotHeadForm.controls.title.dirty || submitAttempt)">
      <p>Please enter a valid name with more than 10 characters</p>
    </ion-item>

    <ion-item no-lines>
      <ion-label stacked required>Map</ion-label>
      <ion-select class="morePaddingTop"
        formControlName="map" 
        (ionChange)="mapChanged()"
        [class.valid]="spotHeadForm.controls.map.valid">
        <ion-option *ngFor="let map of de_maps" value="{{map.mapname}}">{{map.mapname}}</ion-option>
        <ion-option *ngFor="let map of cs_maps" value="{{map.mapname}}">{{map.mapname}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label stacked required>What do you want to create?</ion-label>
      <ion-select
        class="morePaddingTop"
        formControlName="strategy" 
        (ionChange)="strategyChanged()"
        [class.valid]="spotHeadForm.controls.strategy.valid">
        <ion-option value="spot">Spot</ion-option>
        <ion-option value="smoke">Smoke</ion-option>
        <ion-option value="awp">AWP Spot</ion-option>
        <ion-option value="decoy">Decoy</ion-option>
      </ion-select>
    </ion-item>
  </form>

  <div #spotDetails class="invisible">
    <div *ngIf="spotHeadForm.get('strategy').value === 'smoke' || spotHeadForm.get('strategy').value === 'decoy'" style="padding-top:20px;">
      
      <form [formGroup]="smokeDetailForm">
        <ion-title>Youtube settings</ion-title>
        <ion-item no-lines>
          <ion-label required stacked class="moreWidth">YouTube Video ID</ion-label>
          <ion-input 
            type="text" 
            formControlName="videoId"
            [class.invalid]="!smokeDetailForm.controls.videoId.valid && (smokeDetailForm.controls.videoId.dirty || submitAttempt)"
            [class.valid]="smokeDetailForm.controls.videoId.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!smokeDetailForm.controls.videoId.valid  && (smokeDetailForm.controls.videoId.dirty || submitAttempt)">
          <p>Please enter a valid YouTube Video ID. It contains of 11 characters.</p>
        </ion-item>

        <ion-item no-lines>
          <ion-label required stacked class="moreWidth" >YouTube Video Start Time</ion-label>
          <ion-input type="text" formControlName="startSeconds"            
            [class.invalid]="!smokeDetailForm.controls.startSeconds.valid && (smokeDetailForm.controls.startSeconds.dirty || submitAttempt)"
            [class.valid]="smokeDetailForm.controls.startSeconds.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!smokeDetailForm.controls.startSeconds.valid  && (smokeDetailForm.controls.startSeconds.dirty || submitAttempt)">
          <p>Please enter the second at which your YouTube video should start.</p>
        </ion-item>

        <ion-item no-lines>
          <ion-label required stacked class="moreWidth" >YouTube Video End Time</ion-label>
          <ion-input type="text" formControlName="endSeconds"
            [class.invalid]="!smokeDetailForm.controls.endSeconds.valid && (smokeDetailForm.controls.endSeconds.dirty || submitAttempt)"
            [class.valid]="smokeDetailForm.controls.endSeconds.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!smokeDetailForm.controls.endSeconds.valid  && (smokeDetailForm.controls.endSeconds.dirty || submitAttempt)">
          <p>Please enter the second at which your YouTube video should end. Must be greater than startSeconds.</p>
        </ion-item>
        
        <div style="padding-top:20px;">
          <ion-title>Video Live Preview</ion-title>
          <button ion-button icon-only (click)="refresh()">
            <ion-icon name="refresh"></ion-icon>
          </button>
        </div>
        <youtube-player #youtubePlayer [start]="smokeDetailForm.get('startSeconds').value" [end]="smokeDetailForm.get('endSeconds').value" [vid]="''" [width]="'100%'"></youtube-player>
      </form>
    </div>
    <div *ngIf="spotHeadForm.get('strategy').value === 'spot' || spotHeadForm.get('strategy').value === 'awp'" style="padding-top:20px;">
      <ion-title style="padding-top:20px;">Viewport Angle (0-360 degrees)</ion-title>

      <form [formGroup]="spotDetailForm">
        <ion-item no-lines>
          <ion-range pin="true" (ionChange)="onRangeChange()" min="0" max="360" formControlName="angle" color="secondary">
            <ion-label range-left>0°</ion-label>
            <ion-label range-right>360°</ion-label>
          </ion-range>  
        </ion-item>

        <ion-title style="padding-top:20px;">Pictures (use up to 3)</ion-title>
        <ion-item no-lines>
          <ion-label required stacked>Imgur URL #1</ion-label>
          <ion-input type="text" formControlName="picture_1"
            [class.invalid]="!spotDetailForm.controls.picture_1.valid && (spotDetailForm.controls.picture_1.dirty || submitAttempt)"
            [class.valid]="spotDetailForm.controls.picture_1.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!spotDetailForm.controls.picture_1.valid  && (spotDetailForm.controls.picture_1.dirty || submitAttempt)">
          <p>Please enter the URL of a screenshot hosted at imgur.com</p>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Imgur URL #2</ion-label>
          <ion-input 
            type="text" 
            formControlName="picture_2"
            [class.invalid]="!spotDetailForm.controls.picture_2.valid && (spotDetailForm.controls.picture_2.dirty || submitAttempt)"
            [class.valid]="spotDetailForm.controls.picture_2.valid  && spotDetailForm.controls.picture_2.dirty">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!spotDetailForm.controls.picture_2.valid  && (spotDetailForm.controls.picture_2.dirty || submitAttempt)">
          <p>Please enter the URL of a screenshot hosted at imgur.com</p>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Imgur URL #3</ion-label>
          <ion-input 
            type="text" 
            formControlName="picture_3"
            [class.invalid]="!spotDetailForm.controls.picture_3.valid && (spotDetailForm.controls.picture_3.dirty || submitAttempt)"
            [class.valid]="spotDetailForm.controls.picture_3.valid && spotDetailForm.controls.picture_3.dirty">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!spotDetailForm.controls.picture_3.valid  && (spotDetailForm.controls.picture_3.dirty || submitAttempt)">
          <p>Please enter the URL of a screenshot hosted at imgur.com</p>
        </ion-item>
      </form>
    <!-- <progress #progress value="0" max="100" id="uploader">0%</progress>
      <input #upload type="file" value="upload" id="fileButton" (change)="onFileUpload($event)"/>   -->
    </div>

    <ion-label>Select position of your Spot on the map below</ion-label>
    <map-overview #mapOverview [mapName]="" [strategyId]="" [intentionName]="" (press)="logPress($event)"></map-overview>

    <button ion-button (click)="savePressed()" [disabled]="saveButtonDisabled">
      Upload
    </button>
  </div>
</ion-content>