<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <auth float-right></auth>        
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-title>Submit new Spot</ion-title>    

  <ion-label>Please be aware that we check every spot personally before making it public. This will take some minutes.</ion-label>
  
  <form [formGroup]="spotHeadForm">
    <ion-item no-lines>
      <ion-label stacked padding-top required>Title</ion-label>
      <ion-input 
        type="text" 
        formControlName="title" 
        [class.invalid]="!spotHeadForm.controls.title.valid && (spotHeadForm.controls.title.dirty || submitAttempt)"
        [class.valid]="spotHeadForm.controls.title.valid">
      </ion-input>
    </ion-item>
    <ion-item 
      no-lines 
      *ngIf="!spotHeadForm.controls.title.valid && (spotHeadForm.controls.title.dirty || submitAttempt)">
      <p>Please enter a valid name with more than 10 characters</p>
    </ion-item>
    
    <ion-item no-lines>    
      <ion-label stacked padding-top required>Where is your stuff hosted?</ion-label>
        <ion-select
        padding-top
        formControlName="strategy" 
        (ionChange)="displayDetails()"
        [class.valid]="spotHeadForm.controls.strategy.valid">
        <ion-option value="youtube">YouTube</ion-option>
        <ion-option value="gfycat">GfyCat</ion-option>
        <ion-option value="twitch">Twitch</ion-option>
        <ion-option value="streamable">Streamable</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label style="color:#999;" stacked padding-top required>Tags (at least 1, up to 3)</ion-label>
    </ion-item>
    <ion-tags-input [color]="'primary'" class="tags-input" color="primary" formControlName="tags" (onChange)="onChangeTag($event)" [separatorStr]="' '"></ion-tags-input>

  </form>

  <div #spotDetails [class.invisible]="detailsInvisible">
    <div *ngIf="isYoutube()" padding-top>
      
      <form [formGroup]="youtubeDetailForm">
        <ion-title padding-top>Youtube settings</ion-title>
        <ion-item no-lines>
          <ion-label padding-top required stacked class="moreWidth">YouTube URL / YouTube Video ID</ion-label>
          <ion-input 
            type="text" 
            formControlName="videoId"
            (ionChange)="onVideoUrlChanged($event)"
            [class.invalid]="!youtubeDetailForm.controls.videoId.valid && (youtubeDetailForm.controls.videoId.dirty || submitAttempt)"
            [class.valid]="youtubeDetailForm.controls.videoId.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!youtubeDetailForm.controls.videoId.valid  && (youtubeDetailForm.controls.videoId.dirty || submitAttempt)">
          <p>Please enter a valid YouTube Video ID or the URL of your YouTube video</p>
        </ion-item>

        <ion-item no-lines>
          <ion-label padding-top required stacked class="moreWidth" >YouTube Video Start Time in Seconds</ion-label>
          <ion-input 
            type="text" 
            formControlName="startSeconds"  
            (ionChange)="refresh()"          
            [class.invalid]="!youtubeDetailForm.controls.startSeconds.valid && (youtubeDetailForm.controls.startSeconds.dirty || submitAttempt)"
            [class.valid]="youtubeDetailForm.controls.startSeconds.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!youtubeDetailForm.controls.startSeconds.valid  && (youtubeDetailForm.controls.startSeconds.dirty || submitAttempt)">
          <p>Please enter the second at which your YouTube video should start.</p>
        </ion-item>

        <ion-item no-lines>
          <ion-label padding-top required stacked class="moreWidth" >YouTube Video End Time in Seconds</ion-label>
          <ion-input 
            type="text" 
            formControlName="endSeconds"
            (ionChange)="refresh()"
            [class.invalid]="!youtubeDetailForm.controls.endSeconds.valid && (youtubeDetailForm.controls.endSeconds.dirty || submitAttempt)"
            [class.valid]="youtubeDetailForm.controls.endSeconds.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!youtubeDetailForm.controls.endSeconds.valid  && (youtubeDetailForm.controls.endSeconds.dirty || submitAttempt)">
          <p>Please enter the second at which your YouTube video should end. Must be greater than startSeconds.</p>
        </ion-item>
        
        <youtube-player [class.displayNone]="!youtubeDetailForm.valid" #youtubePlayer [start]="youtubeDetailForm.get('startSeconds').value" [end]="youtubeDetailForm.get('endSeconds').value" [vid]="''" [width]="'100%'"></youtube-player>
      </form>
    </div>
    <div *ngIf="isGfycat()" padding-top>
      <form [formGroup]="gfycatDetailForm">
        <ion-item no-lines>
          <ion-label required stacked class="moreWidth">gfycat URL / gfycat ID</ion-label>
          <ion-input 
            type="text" 
            formControlName="videoId"
            (ionChange)="onVideoUrlChanged($event)"
            [class.invalid]="!gfycatDetailForm.controls.videoId.valid && (gfycatDetailForm.controls.videoId.dirty || submitAttempt)"
            [class.valid]="gfycatDetailForm.controls.videoId.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!gfycatDetailForm.controls.videoId.valid  && (gfycatDetailForm.controls.videoId.dirty || submitAttempt)">
          <p>Please enter a valid gfycat Video ID or the URL of your gfycat video</p>
        </ion-item>

        <div margin-top [class.displayNone]="!gfycatDetailForm.valid" style='position:relative;padding-bottom:calc(100% / 1.85)'>
          <iframe [src]='safeVidUrl' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
        </div>
      </form>
    </div>

    <div *ngIf="isTwitch()" padding-top>
      <form [formGroup]="twitchDetailForm">
        <ion-item no-lines>
          <ion-label required stacked class="moreWidth">gfycat URL / gfycat ID</ion-label>
          <ion-input 
            type="text" 
            formControlName="videoId"
            (ionChange)="onVideoUrlChanged($event)"
            [class.invalid]="!twitchDetailForm.controls.videoId.valid && (twitchDetailForm.controls.videoId.dirty || submitAttempt)"
            [class.valid]="twitchDetailForm.controls.videoId.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!twitchDetailForm.controls.videoId.valid  && (twitchDetailForm.controls.videoId.dirty || submitAttempt)">
          <p>Please enter a valid Twitch Video ID or the URL of your Twitch video</p>
        </ion-item>

        <div margin-top [class.displayNone]="!twitchDetailForm.valid" style='position:relative;padding-bottom:calc(100% / 1.85)'>
          <iframe [src]='safeVidUrl' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
        </div>
      </form>
    </div>

    <div *ngIf="isStreamable()" padding-top>
      <form [formGroup]="streamableDetailForm">
        <ion-item no-lines>
          <ion-label required stacked class="moreWidth">Streamable URL / Streamable ID</ion-label>
          <ion-input 
            type="text" 
            formControlName="videoId"
            (ionChange)="onVideoUrlChanged($event)"
            [class.invalid]="!streamableDetailForm.controls.videoId.valid && (streamableDetailForm.controls.videoId.dirty || submitAttempt)"
            [class.valid]="streamableDetailForm.controls.videoId.valid">
          </ion-input>
        </ion-item>
        <ion-item 
          no-lines 
          *ngIf="!streamableDetailForm.controls.videoId.valid  && (streamableDetailForm.controls.videoId.dirty || submitAttempt)">
          <p>Please enter a valid Streamable Video ID or the URL of your Streamable video</p>
        </ion-item>

        <div margin-top [class.displayNone]="!streamableDetailForm.valid" style='position:relative;padding-bottom:calc(100% / 1.85)'>
          <iframe [src]='safeVidUrl' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
        </div>
      </form>
    </div>

    <button margin-top block ion-button (click)="savePressed()" [disabled]="saveButtonDisabled">
      Upload
    </button>
  </div>
</ion-content>