page-submit {
    .margin-top {
        margin-top: 20px;
    }

    .item-md.item-block .item-inner {
        padding-right : 0;
    }
    .item-label-stacked .morePaddingTop.select-md {
        padding-top: 13px;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
    .valid {
        border: 1px solid #32db64;
    }
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label, .select-text {
        margin-left: 10px;
        padding-bottom: 5px;
    }

    ion-label[required]::after {
        content: " *";
        color: red;
    }
 
    ion-input, ion-select, ion-textarea {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

    .invisible {
        visibility: hidden;
    }
    .displayNone {
        display: none;
    }

    .moreWidth {
        min-width: 200px;
    }

    .d3 {
        display: inline-block;
        width: 50%;
    }
    
    // general styling goes here
    .outerspot {
        cursor: pointer;

        &:hover, &.hover{
            .smokebox {
                fill:lightgray;
                cursor: pointer;
            }
            .smokebig {
                display: block;
                fill: black;
                opacity: .4;
            }
            .smokeline {
                stroke-dasharray: 0;
                stroke-width: 3;
            }
            .player {
                fill:red;
                stroke: white;
                stroke-width: 1;
                cursor: pointer;
            }
      
        }

        .player {
            fill: blue;
        } 

        .smokebox {
            fill:gray;
            stroke: white;
            stroke-width: 2;
        }

        .smokeline {
            stroke-dasharray: 2;
            stroke-width: 2;
            stroke: white;
        }

        .nodisplay {
            display: none;
        }
    }
    // specific stylings for spots
    .spot, .awp {
        .player-view {
            opacity: .2;
            fill: lightblue;
            pointer-events: none;
        }
    }
    // specific stylings for smokes
    .smoke, .decoy, .brand {
        .player-view {
            display: none;
        }
    }
}
