<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Submit new Spot</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-label danger>Please be aware that we check every spot personally before making it public. This will take some minutes.</ion-label>

  <ion-item>
    <ion-label>Map</ion-label>
    <ion-select [(ngModel)]="map">
      <ion-option *ngFor="let map of de_maps" value="{{map.mapname}}">{{map.mapname}}</ion-option>
      <ion-option *ngFor="let map of cs_maps" value="{{map.mapname}}">{{map.mapname}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-option value="spot">Spot</ion-option>
      <ion-option value="smoke">Smoke</ion-option>
      <ion-option value="awp">AWP Spot</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="moreWidth" fixed>Spot title</ion-label>
    <ion-input type="text" [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="moreWidth" fixed>YouTube Video ID</ion-label>
    <ion-input type="text" [(ngModel)]="videoId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="moreWidth" fixed>YouTube Video Start Time</ion-label>
    <ion-input type="text" [(ngModel)]="startSeconds"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="moreWidth" fixed>YouTube Video End Time</ion-label>
    <ion-input type="text" [(ngModel)]="endSeconds"></ion-input>
  </ion-item>

  <div style="padding-top:20px;">
    <div>
      <ion-title>Video Live Preview</ion-title>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </div>
    <youtube-player #youtubePlayer [start]="startSeconds" [end]="endSeconds" [vid]="''" [width]="'100%'"></youtube-player>
  </div>

  <ion-label>Select position of your Spot on the map below</ion-label>
  <map-overview #mapOverview [mapName]="'de_dust2'" [strategyId]="" [intentionName]="" (press)="logPress($event)"></map-overview>

  <button ion-button (click)="savePressed()" [disabled]="saveButtonDisabled">
    Upload
  </button>
</ion-content>