page-submit {
    ion-tags-input.tags-input .ion-tags-input{
        margin-left: 15px;
    }
    ion-tags-input .ion-tags-input .iti-tag-color {
        background-color: map-get($colors, primary);        
    }
    ion-tags-input .ion-tags-input.active.tit-border-color {
        border-bottom-color: map-get($colors, primary); 
    }
        

    .item-md.item-block .item-inner {
        padding-right : 0;
    }
    .item-label-stacked .morePaddingTop.select-md {
        padding-top: 13px;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
    .valid {
        border: 1px solid #32db64;
    }
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label, .select-text {
        margin-left: 10px;
        padding-bottom: 5px;
    }

    ion-label[required]::after {
        content: " *";
        color: red;
    }
 
    ion-input, ion-select, ion-textarea, .ion-tags-input {
        border-bottom: 1px solid #FFFFFF;        
        padding: 5px 10px;
    }

    .invisible {
        visibility: hidden;
    }
    .displayNone {
        display: none;
    }

    .moreWidth {
        min-width: 200px;
    }
   
}
